@model List<MyPortfolio_Website.DAL.Entities.Skill>

<style>
    .progress-bar {
        transition: width 1s ease-in-out;
    }
</style>

<section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
    <h1 class="title pb-3 mb-5">Yeteneklerim</h1>
    <div class="row">

        <div class="col-sm-6">
            @for (int i = 0; i < Model.Count / 2; i++)
            {
                var skill = Model[i];
                <div class="skill mb-4">
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">@skill.SkillName</p>
                        <p class="mb-2">@skill.SkillPoint%</p>
                    </div>
                    <div class="progress">
                        @* @{ *@
                        @*     var color = "bg-secondary"; *@
                        @*     var point = int.Parse(skill.SkillPoint); *@
                        @*     if (point >= 90) *@
                        @*     { *@
                        @*         color = "bg-danger"; *@
                        @*     } *@
                        @*     else if (point >= 75) *@
                        @*     { *@
                        @*         color = "bg-warning"; *@
                        @*     } *@
                        @*     else if (point >= 50) *@
                        @*     { *@
                        @*         color = "bg-success"; *@
                        @*     } *@
                        @* } *@
                        <div class="progress-bar bg-warning"
                             role="progressbar"
                             style="width:@skill.SkillPoint%"
                             aria-valuenow="@skill.SkillPoint"
                             aria-valuemin="0"
                             aria-valuemax="100">
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="col-sm-6">
            @for (int i = Model.Count / 2; i < Model.Count; i++)
            {
                var skill = Model[i];
                <div class="skill mb-4">
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">@skill.SkillName</p>
                        <p class="mb-2">@skill.SkillPoint%</p>
                    </div>
                    <div class="progress">
                        @* @{ *@
                        @*     var color = "bg-secondary"; *@
                        @*     var point = int.Parse(skill.SkillPoint); *@
                        @*     if (point >= 90) *@
                        @*     { *@
                        @*         color = "bg-danger"; *@
                        @*     } *@
                        @*     else if (point >= 75) *@
                        @*     { *@
                        @*         color = "bg-warning"; *@
                        @*     } *@
                        @*     else if (point >= 50) *@
                        @*     { *@
                        @*         color = "bg-success"; *@
                        @*     } *@
                        @* } *@
                        <div class="progress-bar bg-warning"
                             role="progressbar"
                             style="width:@skill.SkillPoint%"
                             aria-valuenow="@skill.SkillPoint"
                             aria-valuemin="0"
                             aria-valuemax="100">
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</section>
