@model MyPortfolio_Website.DAL.Entities.Personal

<div class="d-flex flex-column h-100 text-center overflow-auto shadow">
    @if (!string.IsNullOrEmpty(Model.PersonalImage))
    {
        <div style="align-items:center;">
                <img class="img-class-phone w-100 img-fluid mb-4" src="data:image/png;base64,@Model.PersonalImage" width="200" alt="Image" />

        </div>
    }
    <h1 class="text-primary mt-2">@Model.PersonalName</h1>
    <div class="mb-4" style="height: 22px;">
        <h4 class="typed-text-output d-inline-block text-light"></h4>
        <div class="typed-text d-none">@Model.PersonalPosition</div>
    </div>
    <div class="d-flex justify-content-center mt-auto mb-3">
        <a class="btn btn-secondary btn-square mx-1" href="@Model.PersonalGithub"><i class="fab fa-github"></i></a>
        <a class="btn btn-secondary btn-square mx-1" href="@Model.PersonalLinkedin"><i class="fab fa-linkedin-in"></i></a>
    </div>
    <div class="d-flex align-items-end justify-content-between border-top">
        <a href="@Model.PersonalCv" class="btn w-50 border-end">CV' mi Görüntüle</a>
        <a href="tel:@Model.PersonalPhone" class="btn w-50 btn-scroll">İletişime Geçin</a>
    </div>
</div>