@model List<MyPortfolio_Website.DAL.Entities.Portfolio>
<section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
    <h1 class="title pb-3 mb-5">Portfolyo</h1>
    <div class="row">
        <div class="col-12">
            
            <div class="row portfolio-container">
                @{
                    int index = 0;
                }
                @foreach (var item in Model)
                {
                    var itemClass = (index % 2 == 0) ? "first" : "second";
                    index++; // Her döngüde artır

                    <div class="col-md-6 mb-4 portfolio-item @itemClass">
                    
                            <div class="position-relative overflow-hidden mb-2">

                                @if (!string.IsNullOrEmpty(item.PortfolioImage))
                                {

                                    <a href="@item.PortfolioUrl" style="justify-content:center; color:White">
                                    <h4 style="margin-bottom:10px; font-size:24px;">@item.PortfolioName</h4>
                                        <img class="w-100 img-fluid" style="height:180px;" src="data:image/png;base64,@item.PortfolioImage" width="200" alt="Image">
                                    </a>

                                }

                                <p><br /> @item.PortfolioDesc</p>
                                @if (item.PortfolioWebUrl!= null && item.PortfolioWebUrl!=""){
                                <a class="btn btn-primary" href="@item.PortfolioWebUrl" style="display:flex; justify-content:center;">Canlı Önizleme</a>

                            }


                            </div>
                    
                    </div>
                }
            </div>
        </div>
    </div>
</section>