@* @model List<MyPortfolio_Website.DAL.Entities.About> *@
@model MyPortfolio_Website.DAL.Entities.About

<section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
    <h1 class="title pb-3 mb-5">@Model.Title</h1>
    <p>@Model.Description</p>
    <div class="row mb-4">
        <div class="col-sm-6 py-1">
            <span class="fw-medium text-primary">@Model.Name:</span> @Model.NameDesc
        </div>
        <div class="col-sm-6 py-1">
            <span class="fw-medium text-primary">@Model.Birthday:</span> @Model.Birthdaydesc
        </div>
        <div class="col-sm-6 py-1">
            <span class="fw-medium text-primary">@Model.Degree:</span> @Model.DegreeDesc
        </div>
        <div class="col-sm-6 py-1">
            <span class="fw-medium text-primary">@Model.Experience:</span> @Model.ExperienceDesc
        </div>
        <div class="col-sm-6 py-1">
            <span class="fw-medium text-primary">@Model.Phone:</span> @Model.PhoneDesc
        </div>
        <div class="col-sm-6 py-1">
            <span class="fw-medium text-primary">@Model.Email:</span> @Model.EmailDesc
        </div>
        <div class="col-sm-6 py-1">
            <span class="fw-medium text-primary">@Model.Adress:</span> @Model.AdressDesc
        </div>
        <div class="col-sm-6 py-1">
            <span class="fw-medium text-primary">@Model.Freelance:</span> @Model.FreelanceDesc
        </div>
    </div>
    <div class="row g-4">
        <div class="col-md-4 col-lg-6 col-xl-4">
            <div class="d-flex bg-secondary p-4">
                <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">@Model.SubArea1</h1>
                <div class="ps-3">
                    <p class="mb-0">@Model.SubArea2</p>
                    @* <h5 class="mb-0">Experience</h5> *@
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-6 col-xl-4">
            <div class="d-flex bg-secondary p-4">
                <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">@Model.SubArea3</h1>
                <div class="ps-3">
                    <p class="mb-0">@Model.SubArea4</p>
                    @* <h5 class="mb-0">Clients</h5> *@
                </div>
            </div>
        </div>
        @* <div class="col-md-4 col-lg-6 col-xl-4"> *@
        @*     <div class="d-flex bg-secondary p-4"> *@
        @*         <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">@Model.SubArea5</h1> *@
        @*         <div class="ps-3"> *@
        @*             <p class="mb-0">@Model.SubArea6</p> *@
                    @* <h5 class="mb-0">Projects</h5> *@ 
        @*         </div> *@
        @*     </div> *@
        @* </div> *@
    </div>
</section>